@model IEnumerable<QuestionGroup>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Danh sách nhóm câu hỏi</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .questionGroup {
            border-radius: 10px;
        }

        .questionGroup {
            border-radius: 15px;
            background-color: #1E90FF; /* Màu xanh nước biển */
            color: white; /* Màu chữ trắng */
            font-size: 20px; /* Kích thước chữ */
            padding: 10px; /* Padding để tăng kích thước button */
            border: none; /* Bỏ viền */
            cursor: pointer; /* Thay đổi con trỏ khi di chuột qua */
            transition: 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
            margin: 10px;
        }

            .questionGroup:hover {
                background-color: #00BFFF; /* Thay đổi màu khi di chuột qua */
            }
    </style>
</head>
<script src="~/js/checkPlayer.js"></script>
<body>
    <a href="/">
        <button type="button" class="btn btn-primary" id="btnBack" style="justify-content: center; align-items: center;">＜</button>
    </a>
    <div id="questionGroupList"></div>

    <script type="text/javascript">

        // tạo số ngẫu nhiên gồm 5 chữ số
        function generateRandomNumber() {
            var second = new Date().getTime();
            var lastFiveDigits = second.toString().slice(-6);
            return lastFiveDigits;
        }

        $(document).ready(function () {
            $.ajax({
                url: '/QuestionGroup/GetQuestionGroups', // Đường dẫn đến action lấy danh sách nhóm câu hỏi
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var html = '';
                    console.log(data);
                    $.each(data.questionGroups, function (key, item) {
                        // console.log('Key:', key); // In ra giá trị của key
                        // console.log('Item:', item); // In ra giá trị của item
                        html += '<div class="questionGroup" data-id="' + item.id + '" >';
                        html += '<h2>' + item.name + '</h2>'; // Tên nhóm câu hỏi
                        html += '<p>' + item.description + '</p>'; // Mô tả nhóm câu hỏi
                        html += '</div>';
                    });
                    $('#questionGroupList').html(html);
                }
            });

            $('#questionGroupList').on('click', '.questionGroup', function () {
                var groupId = $(this).data('id');
                var room = generateRandomNumber();
                var user_id = parseInt(localStorage.getItem('user_id'));
                console.log(room);
                $.ajax({
                    url: '../RoomQuiz/CreateRoom',
                    type: 'put',
                    data: {
                        roomId: room,
                        playerId: user_id,
                        groupId: groupId,
                    },
                    success: function (result) {
                        console.log(result);
                        window.location.href = '../RoomQuiz/GameStart?id=' + room;
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });

        });
    </script>
</body>
