<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <style>


        #joinButton {
            width: 181px;
            margin: auto;
            border-radius: 5px;
            background-color: #1E90FF; /* Màu xanh nước biển */
            color: white; /* Màu chữ trắng */
            font-size: 20px; /* Kích thước chữ */
            padding: 10px 20px; /* Padding để tăng kích thước button */
            border: none; /* Bỏ viền */
            cursor: pointer; /* Thay đổi con trỏ khi di chuột qua */
            text-align: center;
            transition: 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
        }

            #joinButton:hover {
                background-color: #00BFFF; /* Thay đổi màu khi di chuột qua */
            }
    </style>
</head>

<script src="~/js/checkPlayer.js"></script>
<a href="/">
    <button type="button" class="btn btn-primary" id="btnBack" style="justify-content: center; align-items: center;">＜</button>
</a>
<div id="isShow" style="display: none; padding-top:150px">
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row" style="width: 100%">
            <input class="form-control" id="Name" disabled style="text-align:center; width:auto; margin: auto" />
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" style="width: 100%">
            <div style="margin: auto; width: auto">
                <div class="col-2">Room</div>
                <div class="col-4"><input type="text" maxlength="6" id="room" /></div>
            </div>
        </div>
        <div class="row">&nbsp;</div>        
        <div class="row" style="width: 100%">
            <input type="button" id="joinButton" value="Vào phòng" />
        </div>
    </div>
</div>
<script type="text/javascript">
    function showName() {
        var user_name = localStorage.getItem('user_name');
        var user_id = localStorage.getItem('user_id');
        if (user_id == null || user_id == '') {
            window.location.href = './Player'; // Đường dẫn đến trang trò chơi trắc nghiệm
        }
        $("#Name").val(user_name);
    }

    // tạo số ngẫu nhiên gồm 5 chữ số
    function generateRandomNumber() {
        var second = new Date().getTime();
        var lastFiveDigits = second.toString().slice(-6);
        return lastFiveDigits;
    }
    // chỉ cho phép người dùng nhập số
    document.getElementById('room').addEventListener('keypress', function (e) {
        if (!/[0-9]/.test(String.fromCharCode(e.which))) {
            e.preventDefault();
        }
    });

    document.getElementById("joinButton").addEventListener("click", function (event) {

        if (!validateRoom()) {
            return;
        }

        // lấy id room
        var room = parseInt(document.getElementById("room").value);
        $.ajax({
            url: '/RoomQuiz/GetRoomById', // Đường dẫn đến action lấy danh sách nhóm câu hỏi
            type: 'GET',
            data: {
                roomid: room,
            },
            dataType: 'json',
            success: function (result) {
                if (result.code == 200) {
                    window.location.href = '../RoomQuiz/GameStart?id=' + document.getElementById("room").value;
                }
                else {
                    alert(`${room} không tồn tại!`);
                }
            }
        });
    });


    function validateRoom() {
        room = document.getElementById("room").value;
        if (room.length < 6) {
            alert("Hãy nhập đúng ID phòng!");
            return false;
        }
        return true;
    }

    $(document).ready(function () {
        var element = document.getElementById("isShow");
        element.style.display = "block";

        showName();
    });
</script>