@{
    ViewData["Title"] = "Home Page";
}

<div style="justify-content: center; align-items: center; display: flex; flex-direction: column; margin-top: 100px;">

    <button class="btn-outline-success"> <a asp-controller="Home" asp-action="ModeSingle">Chơi đơn</a>  </button>

    <button class="btn-outline-success"> <a asp-area="" asp-controller="Home" asp-action="Multiplay">Nhiều người chơi</a></button>

    <button class="btn-outline-success"> <a asp-controller="Home" asp-action="ChangeName">Đổi tên</a>  </button>

    <button class="btn-outline-success"> <a asp-area="" asp-controller="SingleResults" asp-action="Index">Điểm số</a></button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

</script>

<style>
    

    .btn-outline-success {
        width: 181px;
        background-color: #1E90FF; /* Màu xanh nước biển */
        color: white; /* Màu chữ trắng */
        font-size: 20px; /* Kích thước chữ */
        padding: 10px 20px; /* Padding để tăng kích thước button */
        border: none; /* Bỏ viền */
        cursor: pointer; /* Thay đổi con trỏ khi di chuột qua */
        text-align: center;
        transition: 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
        margin-top: 20px; /* Khoảng cách giữa các button */
        border-radius: 12px; /* Bo góc */
    }

        .btn-outline-success:hover {
            background-color: #00BFFF; /* Thay đổi màu khi di chuột qua */
        }

        .btn-outline-success a {
            color: white; /* Màu chữ trắng */
            text-decoration: none; /* Bỏ gạch chân */
        }
</style>
